*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    /**border: 1px solid black;/**/
    font-family: 'Roboto', sans-serif;
}
.overflow_y_none{
    overflow-y:hidden;
}

/** head **/
#head {
    width: 900px;
    margin:auto;
    padding: 20px;
    border:1px solid transparent;
    display:flex;
    justify-content: space-between;
    align-items: center
}
#head h1{
    color:#181b2f;
    font-family: 'Noto Serif JP',
    sans-serif; font-size:16px;
    font-weight:900
}
#head span{
    margin:0px 10px;
    font-size:25px;
    text-decoration:none;
    color:#181b2f;
    cursor: pointer;
}

/** Presentation **/
#info{
    width: 700px;
    margin:auto;
}
#info_name{
    align-items: center;
    border:1px solid transparent;
    margin: 20px;  display: flex;
    flex-direction: column
}
#info_name img{
    border: 5px solid #dcdde3;
    border-radius:50%;
    width:120px;
    height:120px;
}
#info_name_name {
    color:#182973;
    font-family: 'Noto Serif JP', sans-serif;
    font-size:20px;
    font-weight:400
}
#info_name_text {
    padding: 10px;
    color:#182973;
    text-align: justify;
    font-family: 'Noto Serif JP', sans-serif;
    font-size:15px;
    font-weight:200
}
#info hr{
    width: 400px; margin: auto; color:#d5d7d9
}
#info_file{
    display: flex;
    border:1px solid transparent;
    justify-content: center;
    margin:10px 0px 0px 0px;
}

#info_file  div{
    align-items: center;
    border:1px solid transparent;
    margin:20px; display: flex;
    flex-direction: column
}

#info_file span{
    font-size: 70px ;
    cursor:pointer;
    color: #00adef
}
#info_file p{
    color:#182973;
    font-family: 'Noto Serif JP', sans-serif;
    font-size:16px;
    font-weight:400
}

/** prejects **/
#project{
    width: 95%;
    margin: auto;
    border: 1px solid transparent;
    align-items: center
}

#project h3{
    margin:10px 10px 30px 10px;
    color:#181b2f;

    font-family: 'Noto Serif JP', sans-serif;
    font-size:25px;
    font-weight: 500;
}

#project > div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#project > div > div{
    align-items: center;
    border:1px solid transparent;
    width: 350px; height: 300px;
    margin:10px; display: flex;
    flex-direction: column
}
#project > div > div> span{
    font-size: 70px ;
    color: #00adef
}

.project_title{
    color:#182973;
    font-family: 'Noto Serif JP', sans-serif;
    font-size:20px;
    font-weight:400
}

.project_desc{
    padding: 10px; color:#182973;
    text-align: center;
    font-family: 'Noto Serif JP', sans-serif;
    font-size:13px;
    font-weight:200
}

.project_tech{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center
}

.project_tech span{
    background: #dfe2e5;
    color:#4f5469;
    margin: 2px;
    padding: 5px;
    border-radius: 2px;
    font-family: 'Noto Serif JP', sans-serif;
    font-size:15px;
    font-weight:900;
}
#project > div > div div{
    padding: 10px 20px;
    color:#00adef;
    font-family: 'Noto Serif JP', sans-serif;
    font-weight:500;
    font-size: 16px;
    cursor: pointer;
}

/** overlay **/
#overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 4;
}
#closebtn{
    border: none;
    border-radius:50%;
    padding:10px 15px;

    position: fixed;
    z-index:4;
    cursor: pointer;
}
.closebtn_projet{
    background: #4f5469;
    color: #fff;
    box-shadow: 0 0 10px 1px #777;
    -webkit-box-shadow: 0 8px 20px -6px #777;
    -moz-box-shadow: 0 8px 20px -6px #777;
    position: fixed;
    bottom: 2%;
    right: 50%;
}
.closebtn_pdf{
    background: #fff;
    color: #4f5469 ;
    box-shadow: 0 0 10px 1px #777;
    -webkit-box-shadow: 0 8px 20px -6px #777;
    -moz-box-shadow: 0 8px 20px -6px #777;
    top: 60px;
    right:40px;
    z-index:4
}

#closebtn span{
    font-size: 25px;
}

#overlay_content{

    width: 100%;
    height: 100%;
    background: #fff
}
